/*******************************************************************************
Estilos generales
*******************************************************************************/
*, *::before, *::after{
	box-sizing: border-box;
}
*{
	margin: 0;
	padding: 0;
}
*::-moz-selection{
	background-color: #00A9F4;
	color: #fff;
}
*::selection{
	background-color: #00A9F4;
	color: #fff;
}
/*********************************************************************
Breadcrums / Migas de pan
*********************************************************************/
#breadcrumbs{
	padding: 8px 16px;
	list-style: none;
	background-color: inherit;
	border-radius: 3px;
	white-space: nowrap;
	font-size: 16px;
}
#breadcrumbs li{
	display: inline-block;
	padding: 8px 0;
	color: #fff;
}
#breadcrumbs li a{
	text-decoration: none;
}
#breadcrumbs li a, #breadcrumbs li::after{
	color: rgba(255,255,255,0.67);
}
#breadcrumbs li:not(:last-child)::after{
	content: "\00a0/\00a0";
}
#breadcrumbs li a:hover{
	color: #fff;
}
/*********************************************************************
Menú de navegación principal
*********************************************************************/
.mdl-layout__drawer a{
	text-decoration: none;
	color: #424242;
}
#logo{
	flex: 0 0 var(--altoHeader);
	height: var(--altoHeader);
	background: #3f51b5 url('#{resource['img/logo.png']}');
	background-size: auto 75%;
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
#user{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	padding: 0 22px;
	height: 150px;
	background: url('#{resource['img/user-bg.png']}');
	background-size: cover;
}
#userName{
	font-size: 18px;
	line-height: 20px;
}
#userPosition{
	font-size: 15px;
	line-height: 17px;
	display: flex;
	align-items: center;
}
#userPosition span{
	flex: 1;
}
/***********************************************************
Dialogos
***********************************************************/
#dialogExceptions{
	width: 420px;
}
#dialogExceptions > .mdl-dialog__title{
	font-size: 2rem;
}
/*********************************************************************
Tarjetas de los menús principales
*********************************************************************/
.menu-card.mdl-card {
	width: 100%;
	height: 320px;
}
.menu-card > .mdl-card__title {
	color: #fff;
	background-color: #448AFF;
	background-size: cover;
	background-repeat: no-repeat;
	transition: background-color .3s ease-in-out;
}
.menu-card:hover > .mdl-card__title {
	background-color: #3F51B5;
}
.menu-card > .mdl-card__title-text{
	align-self: start;
	font-weight: 400;
	padding: 5px 0px 0px 10px;
}
.menu-card > .mdl-card__supporting-text{
	width: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-card:hover > .mdl-card__supporting-text{
	text-overflow: initial;
    white-space: initial;
    overflow: visible;
}
/*********************************************************************
Imagenes de los submenus
*********************************************************************/
.menu-card > .mdl-card__title.historicoVentas{
	background-image: url('#{resource['img/hitoricoVentas.jpg']}') !important;
}

.menu-card > .mdl-card__title.reporteSeguimientoComercial{
	background-image: url('#{resource['img/reporteSeguimientoComercial.jpg']}') !important;
}

.menu-card > .mdl-card__title.cotizacionesEnviadas{
	background-image: url('#{resource['img/cotizacionesEnviadas.jpg']}') !important;
}

.menu-card > .mdl-card__title.controlOP{
	background-image: url('#{resource['img/controlOP.jpg']}') !important;
}

.menu-card > .mdl-card__title.reporteOP{
	background-image: url('#{resource['img/reporteOP.jpg']}') !important;
}

.menu-card > .mdl-card__title.listaPrecios{
	background-image: url('#{resource['img/listaPrecios.jpg']}') !important;
}

.menu-card > .mdl-card__title.reporteDevoluciones{
	background-image: url('#{resource['img/reporteDevoluciones.jpg']}') !important;
}

.menu-card > .mdl-card__title.usuarios{
	background-image: url('#{resource['img/usuarios.jpg']}') !important;
}

.menu-card > .mdl-card__title.clientes{
	background-image: url('#{resource['img/clientes.jpg']}') !important;
}

.menu-card > .mdl-card__title.articulos{
	background-image: url('#{resource['img/articulos.jpg']}') !important;
}

.menu-card > .mdl-card__title.condicionesComerciales{
	background-image: url('#{resource['img/condicionesComerciales.jpg']}') !important;
}

.menu-card > .mdl-card__title.convenciones{
	background-image: url('#{resource['img/convenciones.jpg']}') !important;
}

.menu-card > .mdl-card__title.origenes{
	background-image: url('#{resource['img/origenes.jpg']}') !important;
}

.menu-card > .mdl-card__title.condicionesGarantia{
	background-image: url('#{resource['img/condicionesGarantia.jpg']}') !important;
}

.menu-card > .mdl-card__title.cargueBD{
	background-image: url('#{resource['img/cargueBD.jpg']}') !important;
}

.menu-card > .mdl-card__title.enviarCotizacion{
	background-image: url('#{resource['img/enviarCotizacion.jpg']}') !important;
}

.menu-card > .mdl-card__title.seguimientoComercial{
	background-image: url('#{resource['img/reporteSeguimientoComercial.jpg']}') !important;
}

.menu-card > .mdl-card__title.generarOP{
	background-image: url('#{resource['img/generarOP.jpg']}') !important;
}

.menu-card > .mdl-card__title.correccionOP{
	background-image: url('#{resource['img/correccionOP.jpg']}') !important;
}
.menu-card > .mdl-card__title.aprobarOP{
	background-image: url('#{resource['img/aprobarOP.jpg']}') !important;
}

.menu-card > .mdl-card__title.devoluciones{
	background-image: url('#{resource['img/reporteDevoluciones.jpg']}') !important;
}
/*********************************************************************
Botón ir arriba
*********************************************************************/
#scrollButton{
	position: fixed;
	bottom: 0px;
	right: 10px;
	padding: 5px 10px;
	background: #2296f3;
	color: #fff;
	cursor: pointer;
	font-size: 30px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity .2s linear;
}
#scrollButton.visible{
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
/*********************************************************************
tablas
*********************************************************************/
table{
	width: 100%;
	margin: auto;
}
.mdl-data-table{
	border: none !important;
}
table td{
	white-space: pre-wrap;
}
.ui-datatable tr, .ui-datatable th, .ui-datatable td{
	border: 1px solid rgba(0, 0, 0, 0.12);
}
.ui-datatable th:not(:first-child), .ui-datatable td:not(:first-child){
	border-left: none;
}
.ui-datatable th:not(:last-child), .ui-datatable td:not(:last-child){
	border-right: none;
}
.ui-datatable thead th,.ui-datatable tbody td {
	position: relative;
	vertical-align: middle;
	height: 48px;
	border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
	padding-top: 12px !important;
}
.ui-datatable-empty-message td{
	text-align: left;
}
/*********************************************************************
Formularios
*********************************************************************/
form{
	padding: 0 15px;
	border: 1px solid rgba(0,0,0,.12);
	background-color: #fff;
}
.mdl-textfield__input[required] + .mdl-textfield__label::before, .mdl-selectfield__select[required] + .mdl-selectfield__label::before, .ui-selectonemenu[required] + .mdl-textfield__label::before{
	content: "(*) ";
	color: #d50000;
}
.mdl-selectfield, .mdl-textfield, .mdl-switch, .ui-selectonemenu{
	width: 100% !important;
}
.mdl-textfield textarea{
	min-height: 6em;
}
.fullWidth{
	grid-column: 1 / -1;
}
fieldset[disabled] .mdl-textfield .mdl-textfield__label, .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label, .ui-selectonemenu + .mdl-textfield__label{
	color: rgb(63,81,181);
}
fieldset[disabled] .mdl-textfield .mdl-textfield__input, .mdl-textfield.is-disabled .mdl-textfield__input{
	color: rgba(0,0,0,.5);
}
.mdl-textfield--floating-label .mdl-textfield__label, .mdl-selectfield--floating-label .mdl-selectfield__label{
	top: 4px;
}
.ui-button .ui-button-text{
	display: initial !important;
	line-height: initial !important;

}
.ui-button-text-only .ui-button-text{
	padding: 0 !important;
}
.mdl-button--file input {
	cursor: pointer;
	height: 100%;
	right: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 300px;
	z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
	box-sizing: border-box;
	width: calc(100% - 32px);
	margin-left: 32px;
}
.ui-selectonemenu-item.ui-selectonemenu-list-item{
	font-size: 16px;
	color: rgba(33,33,33,0.87);
	line-height: 19px;
	min-height: 19px;
	padding: 10px 14px 8px 14px !important;
	-webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
	transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
	outline: none;
	box-sizing: content-box;
}
.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-hover{
	background-color: #f8f8f8;
}

/**********************************************************************
Formularios complejos
**********************************************************************/
#subForm, .ui-dialog{
	position: fixed;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
}
#subForm.mostrar, #subForm.mostrar form.mostrar{
	opacity: 1;
	pointer-events: auto;
}
#subForm form, form.mdl-dialog{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 15px;
}
#subForm form, form.mdl-dialog{
	--height: 70px;
	position: absolute;
	top: calc(50% + (var(--height) / 2));
	left: 50%;
	padding: 0;
	width: 700px;
	min-height: auto;
	max-height: calc(100vh - (var(--height) + (var(--height) / 2)));
	overflow-x: hidden;
	background-color: #fff;
	transform: translate(-50%, -50%);
}
@media all and (max-width: 640px){
	#subForm form, form.mdl-dialog{
		--height: 0;
		width: 100%;
		height: 100vh;
		max-height: 100vh;
		margin: 0;
	}
}
/*********************************************************************
Grupos de botones
*********************************************************************/
.buttons{
	--buttonWidth: 260px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--buttonWidth), 1fr));
	grid-gap: 10px;
	padding-bottom: 15px;
}
.ui-button {
	padding: 0 16px !important;
	margin-right: 8px !important;
	overflow: hidden !important;
}
/*********************************************************************
Sobreescritura de estilos del framework
*********************************************************************/
body{
	--altoHeader: 64px;
}
@media screen and (max-width:1024px){
	body{
		--altoHeader: 56px;
	}
}
/***********************************************************
Botón para mostar subformularios
***********************************************************/
.button-bottom_right{
	position: fixed;
	right: 10px;
	bottom: 50px;
	z-index: 1;
}
/***********************************************************
Loadings
***********************************************************/
#loading-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(255,255,255,0.45);
	display: flex;
	z-index: 999999;
	opacity: 1;
	visibility: hidden;
	transition: opacity .2s cubic-bezier(.4,0,.2,1);
	pointer-events: none;
}
/*
#loading-content{
	margin: auto;
	display: flex;
	flex-direction: column;
}
#loadings{
	margin: auto;
	display: flex;
}
#loading-text{
	text-align: center;
}
#loading-text::after{
	content: "...";
}
#loading-wrapper.visible{
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
*/
.mdl-spinner{
	--dimentions: 50px;
	height: var(--dimentions);
	width: var(--dimentions);
}
/***********************************************************
Sobreescritura de estilos de primefaces
***********************************************************/
.ui-dialog-titlebar {
	border: 0!important;
	padding: 0!important;
	display: none!important
}
.ui-datatable.borderless .ui-datatable-data tr,
.ui-datatable.borderless .ui-datatable-data-empty tr,
.ui-datatable.borderless .ui-datatable-data td,
.ui-datatable.borderless .ui-datatable-data-empty td {
	border-style: none;
}
.ui-datatable tbody td{border-color: rgba(0, 0, 0, .12);}
.ui-dialog .ui-dialog-content {
	position: fixed !important;
	border: 0!important;
	padding: 0!important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: auto;
}
.ui-selectonemenu{
	border-bottom: 1px dotted rgba(0,0,0,.12);
}
.ui-selectonemenu-panel .ui-selectonemenu-list, .ui-selectonemenu-panel .ui-selectonemenu-filter-container{
	background-color: #fff;
	width: 100%;
}
.ui-selectonemenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden{
    background: rgb(255,255,255);
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    -webkit-transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);
}
.ui-selectonemenu-panel .ui-selectonemenu-filter {
	border: none;
	border-bottom: 1px solid rgba(63,81,181,1);
	display: block;
	font-size: 16px;
	font-family: "Helvetica","Arial",sans-serif;
	margin: 0;
	padding: 4px 0;
	width: 100% !important;
	background: 0 0;
	text-align: left;
	color: inherit;
}