/******************************
Actualización de OP
******************************/
main{
	display: grid;
	grid-gap: 15px;
}
section{
	padding: 0 15px;
	border: 1px solid rgba(0,0,0,.12);
	background-color: #fff;
}
form, form > div{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
	min-height: auto;
}
form h6, .fullWidth{
	grid-column: 1 / -1;
}
.mdl-tabs__panel > *:first-child{
	margin-top: 15px;
}
@media all and (max-width: 768px){
	form > div{
		grid-template-columns: 1fr;
	}
}
@media all and (max-width: 480px){
	form{
		grid-template-columns: 1fr;
	}
}
#subForm, #subForm form, form.mdl-dialog{
	display: none;
}